#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "svgedit"
name = "SVG-edit"
description.en = "Web-based SVG drawing editor working on any modern browser"
description.fr = "Édition de SVG en ligne fonctionnent avec tout navigateur moderne"

version = "7.2.0~ynh1"

maintainers = ["ljf"]

[upstream]
license = "MIT"
demo = "https://svgedit.netlify.app/editor/index.html"
code = "https://github.com/SVG-Edit/svgedit"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "70M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/svgedit"

    [install.init_main_permission]
    help.en = "If enabled, SVG-edit will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, SVG-edit sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/SVG-Edit/svgedit/archive/refs/tags/v7.2.0.tar.gz"
    sha256 = "238ca1507a3f7f33134158fdbc5d7b7ba2adbdedc9189749648d787ea737de7d"
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
