{% if path_url != "/" %}
rewrite ^{{ path_url }}$ {{ path_url }}/ permanent;
{% else %}
{% set path_url = "" %}
{% endif %}
location {{ path_url }}/ {
  alias {{ final_path }}/;

  index svg-editor.html;
  
  if ($scheme = http) {
     rewrite ^ https://$server_name$request_uri? permanent;
  }

  # Include SSOWAT user panel.
  include conf.d/yunohost_panel.conf.inc;
}
